---
# only for splatoon posts
--- 

@font-face
    font-family: "Project Paintball"
    src: url('/assets/splatoon/Paintball_Beta_4a.woff2') format('woff'), url('/assets/splatoon/Paintball_Beta_4a.otf') format('otf')

@font-face
    font-family: "Inkling"
    src: url('/assets/splatoon/Inkling_v2.woff2') format('woff'), url('/assets/splatoon/Inkling_v2.otf') format('otf')

@mixin paintball
    font-family: "Project Paintball"

@mixin inkling
    font-family: "Inkling"

@mixin its-tape
    content: "its tape its tape"
    padding: 0rem 0.5rem
    @include inkling
    color: #ff8
    background-color: black
    float: right
    z-index: 2
    position: relative
    right: -4rem
    transform: rotateZ(45deg)
    text-align: center
    clip-path: path("M138.484,40.334H5.743L0,31.359l12.862-11.192L3.859,15.19,12.862,7.84,5.743,0H138.484l7.086,6.003s-5.339,1.179-6.615,2.389c-1.628,1.544-3.491,8.268-3.491,8.268l3.02,6.063-4.674,7.166,9.555,5.512-4.881,4.932Z")

$lime: #bad421
$shiver: #1021be
$neutpurp: #a814d4

$gradleft: #cacae5
$gradright: #dcdae2
$aside: #f9f3e7
$social: #dce2d6

$sr_orange: #c95431
$sr_green: #03644b
$sr_yellow: #b4d933
$sr_sunyellow: #dda024
$sr_neutyellow: #e7e710

$sr_dark_orange: #652a19
$sr_dark_green: #023226

#splatoon
    background: $shiver url("/assets/splatoon/splat_stripes.png") 33.333%
    .page-content
        background: $gradleft linear-gradient(to right, $gradleft, $gradright)
    .post-header
        h1, time
            @include paintball
        time
            font-size: 1.5em
    article .post-content
        h1, h2, h3, h4, h5, h6
            @include paintball
            color: $lime
            margin: 3rem -4rem auto
            padding: 0.5rem 4rem
            background-color: $shiver
            transform: rotateZ(-1.5deg)
            &:nth-child(odd)
                transform: rotateZ(1.2deg)
            box-shadow: 4px 4px 8px black 
            clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%)
            // &::before
            //     clip-path: path("M33.225,44.342H3.42l-3.42-4.749,5.768-3.987L0,30.687s3.93-4.537,4.393-6.428c.483-1.976-.973-8.077-.973-8.077l3.281-2.969L0,10.753,1.018,5.918l7.04-1.442L3.42,0h29.805V44.342Z")
            // &::after
            //     clip-path: path("M72.412,0h-27.843V44.342h27.843l-2.772-3.477,7.973-5.429s-5.652-4.958-6.6-7.211c-.774-1.84-.441-7.973-.441-7.973l4.241-1.272-5.514-6.277,5.853-6.022-7.125-2.036,8.906-1.188-4.523-3.459Z")

        aside 
            margin-top: 2rem
            background-color: $aside
            h2:first-child
                margin-top: -1rem

        figure
            border-bottom: none
            a:link img
                border: 1px solid $shiver
            video, img
                filter: none
            figcaption
                border-bottom: 1px solid #010

        .social
            background-color: $social
            .screenname::before
                @include its-tape
            &.mastodon .screenname::before
                content: "fedi fedi fedi"

            .screenname
                @include paintball
                font-size: 2rem
    &.salmon_run
        background: $sr_dark_green
        background-image: linear-gradient(71deg, $sr_dark_green 25%, $sr_dark_orange 25%, $sr_dark_orange 50%, $sr_dark_green 50%, $sr_dark_green 75%, $sr_dark_orange 75%, $sr_dark_orange 100%)
        background-size: 169.22px 491.45px
        
        article .post-content
            h1, h2, h3, h4, h5, h6
                color: $sr_sunyellow
                background-color: $sr_green