---
# only for splatoon posts
--- 

@font-face
    font-family: "Project Paintball"
    src: url('/assets/splatoon/Paintball_Beta_4a.woff2') format('woff'), url('/assets/splatoon/Paintball_Beta_4a.otf') format('otf')

@mixin paintball
    font-family: "Project Paintball"

#splatoon
    .post-header
        h1, time
            @include paintball
        time
            font-size: 1.5em
    article .post-content
        h1, h2, h3, h4, h5, h6
            @include paintball
            color: #f4c
            margin: 2rem -4rem auto
            padding: 0 4rem
            background-color: #041
            transform: rotateZ(-1.5deg)
            box-shadow: 4px 4px 8px black 

        .social
            .screenname
                @include paintball
                font-size: 2rem