@font-face
  font-family: "Bryce Serif"
  src: url("/assets/BryceSerif-Regular.woff") format("woff")

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-thin.woff') format('woff')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-thin-italic.woff') format('woff')
  font-weight: 200
  font-style: italic

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-extralight.woff') format('woff')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-extralight-italic.woff') format('woff')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-light.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-light-italic.woff') format('woff')
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-regular.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-regular-italic.woff') format('woff')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-semibold.woff') format('woff')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-semibold-italic.woff') format('woff')
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-bold.woff') format('woff')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-bold-italic.woff') format('woff')
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-extrabold.woff') format('woff')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-extrabold-italic.woff') format('woff')
  font-weight: 800
  font-style: italic

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-heavy.woff') format('woff')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'overpass'
  src: url('/assets/overpass/overpass-heavy-italic.woff') format('woff')
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'Fantasque Sans Mono'
  src: url('/assets/fantasque_sans_mono/FantasqueSansMono-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Fantasque Sans Mono'
  src: url('/assets/fantasque_sans_mono/FantasqueSansMono-BoldItalic.woff') format('woff')
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Fantasque Sans Mono'
  src: url('/assets/fantasque_sans_mono/FantasqueSansMono-Italic.woff') format('woff')
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Fantasque Sans Mono'
  src: url('/assets/fantasque_sans_mono/FantasqueSansMono-Regular.woff') format('woff')
  font-weight: 400
  font-style: normal



html
  font-family: "overpass", "Avenir Next", "Avenir", Helvetica, Arial

h1, h2, h3, h4, h5, h6, .site-title
  font-family: "Bryce Serif"
  font-weight: normal
  font-size: 2.5rem

h2
  font-size: 2rem
h3
  font-size: 1.8rem
h4
  font-size: 1.5rem
h5
  font-size: 1.2rem
h6
  font-size: 1rem

pre, code, tt
  font-family: 'Fantasque Sans Mono', consolas, "Lucida Mono", courier

main
  font-size: 1.2em
  .post-header
    h1
      margin: 0
    time
      font-family: "Bryce Serif"
      font-size: 2.5em
